@model CarRentalMVC_Auth.Models.User

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
	    <dt class = "col-sm-2">
		    @Html.DisplayNameFor(model => model.Id)
	    </dt>
	    <dd class = "col-sm-10">
		    @Html.DisplayFor(model => model.Id)
	    </dd>
	    <dt class="col-sm-2">
		    @Html.DisplayNameFor(model => model.username)
	    </dt>
	    <dd class="col-sm-10">
		    @Html.DisplayFor(model => model.username)
	    </dd>
	    <dt class="col-sm-2">
		    @Html.DisplayNameFor(model => model.password)
	    </dt>
	    <dd class="col-sm-10">
		    @Html.DisplayFor(model => model.password)
	    </dd>
	    <dt class="col-sm-2">
		    @Html.DisplayNameFor(model => model.token)
	    </dt>
	    <dd class="col-sm-10">
		    @Html.DisplayFor(model => model.token)
	    </dd>
	    <dt class="col-sm-2">
		    @Html.DisplayNameFor(model => model.name)
	    </dt>
	    <dd class="col-sm-10">
		    @Html.DisplayFor(model => model.name)
	    </dd>
	    <dt class="col-sm-2">
		    @Html.DisplayNameFor(model => model.email)
	    </dt>
	    <dd class="col-sm-10">
		    @Html.DisplayFor(model => model.email)
	    </dd>
	    <dt class="col-sm-2">
		    @Html.DisplayNameFor(model => model.birthdate)
	    </dt>
	    <dd class="col-sm-10">
		    @Html.DisplayFor(model => model.birthdate)
	    </dd>
	    <dt class="col-sm-2">
		    @Html.DisplayNameFor(model => model.license_id)
	    </dt>
	    <dd class="col-sm-10">
		    @Html.DisplayFor(model => model.license_id)
	    </dd>
	    <dt class="col-sm-2">
		    @Html.DisplayNameFor(model => model.license_exp)
	    </dt>
	    <dd class="col-sm-10">
		    @Html.DisplayFor(model => model.license_exp)
	    </dd>
	    <dt class="col-sm-2">
		    @Html.DisplayNameFor(model => model.id_number)
	    </dt>
	    <dd class="col-sm-10">
		    @Html.DisplayFor(model => model.id_number)
	    </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
