@model CarRentalMVC_Auth.Models.Document.Rental_Doc

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Rental_Doc</h4>
    <hr />
    <dl class="row">
	    <dt class = "col-sm-2">
		    @Html.DisplayNameFor(model => model.Id)
	    </dt>
	    <dd class = "col-sm-10">
		    @Html.DisplayFor(model => model.Id)
	    </dd>
	    <dt class="col-sm-2">
		    @Html.DisplayNameFor(model => model.user)
	    </dt>
	    <dd class="col-sm-10">
		    @Html.DisplayFor(model => model.user)
	    </dd>
	    <dt class="col-sm-2">
		    @Html.DisplayNameFor(model => model.vehicle)
	    </dt>
	    <dd class="col-sm-10">
		    @Html.DisplayFor(model => model.vehicle)
	    </dd>
	    <dt class="col-sm-2">
		    @Html.DisplayNameFor(model => model.insurance)
	    </dt>
	    <dd class="col-sm-10">
		    @Html.DisplayFor(model => model.insurance)
	    </dd>
	    <dt class="col-sm-2">
		    @Html.DisplayNameFor(model => model.pick_location)
	    </dt>
	    <dd class="col-sm-10">
		    @Html.DisplayFor(model => model.pick_location)
	    </dd>
	    <dt class="col-sm-2">
		    @Html.DisplayNameFor(model => model.drop_location)
	    </dt>
	    <dd class="col-sm-10">
		    @Html.DisplayFor(model => model.drop_location)
	    </dd>
	    <dt class="col-sm-2">
		    @Html.DisplayNameFor(model => model.start_time)
	    </dt>
	    <dd class="col-sm-10">
		    @Html.DisplayFor(model => model.start_time)
	    </dd>
	    <dt class="col-sm-2">
		    @Html.DisplayNameFor(model => model.end_time)
	    </dt>
	    <dd class="col-sm-10">
		    @Html.DisplayFor(model => model.end_time)
	    </dd>
	    <dt class="col-sm-2">
		    @Html.DisplayNameFor(model => model.active)
	    </dt>
	    <dd class="col-sm-10">
		    @Html.DisplayFor(model => model.active)
	    </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
