@model CarRentalMVC_Auth.Models.Rental

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Rental</h4>
    <hr />
    <dl class="row">
	    <dt class = "col-sm-2">
		    @Html.DisplayNameFor(model => model.Id)
	    </dt>
	    <dd class = "col-sm-10">
		    @Html.DisplayFor(model => model.Id)
	    </dd>
	    <dt class="col-sm-2">
		    @Html.DisplayNameFor(model => model.iduser)
	    </dt>
	    <dd class="col-sm-10">
		    @Html.DisplayFor(model => model.iduser)
	    </dd>
	    <dt class="col-sm-2">
		    @Html.DisplayNameFor(model => model.idvehicle)
	    </dt>
	    <dd class="col-sm-10">
		    @Html.DisplayFor(model => model.idvehicle)
	    </dd>
	    <dt class="col-sm-2">
		    @Html.DisplayNameFor(model => model.start_time)
	    </dt>
	    <dd class="col-sm-10">
		    @Html.DisplayFor(model => model.start_time)
	    </dd>
	    <dt class="col-sm-2">
		    @Html.DisplayNameFor(model => model.end_time)
	    </dt>
	    <dd class="col-sm-10">
		    @Html.DisplayFor(model => model.end_time)
	    </dd>
	    <dt class="col-sm-2">
		    @Html.DisplayNameFor(model => model.pickup_loc)
	    </dt>
	    <dd class="col-sm-10">
		    @Html.DisplayFor(model => model.pickup_loc)
	    </dd>
	    <dt class="col-sm-2">
		    @Html.DisplayNameFor(model => model.dropoff_loc)
	    </dt>
	    <dd class="col-sm-10">
		    @Html.DisplayFor(model => model.dropoff_loc)
	    </dd>
	    <dt class="col-sm-2">
		    @Html.DisplayNameFor(model => model.active)
	    </dt>
	    <dd class="col-sm-10">
		    @Html.DisplayFor(model => model.active)
	    </dd>
	    <dt class="col-sm-2">
		    @Html.DisplayNameFor(model => model.idinsurance)
	    </dt>
	    <dd class="col-sm-10">
		    @Html.DisplayFor(model => model.idinsurance)
	    </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
