@model IEnumerable<CarRentalMVC_Auth.Models.Rental>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.iduser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idvehicle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.start_time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.end_time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pickup_loc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dropoff_loc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idinsurance)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.iduser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idvehicle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.start_time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.end_time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pickup_loc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dropoff_loc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idinsurance)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
